body{
     background-image:url(image/aquva.jpg);
     background-repeat: no-repeat;
     background-size: auto;
     border-radius: auto;
     background-clip: content-box;
     
}
h3{
    color: aquamarine;

}
h2{
    
    color: aquamarine;
}
.player{
    position: absolute;
    width: 30vh;
    border-radius: 30px;
    box-shadow: 0 50px 80px rgba( 0, 0, 0, 0.5);
}
.player .imgbox{
    position: relative;
    width: 100%;
    height: 150px;
}

.player .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    object-fit: cover;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}
.player audio{
    width: 120%;
    outline: none;

}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

htm1{
    front-size: 62.5%;
}

.container{
    background: #222;
}

.container .heading{
    font-size: 3rem;
    padding: 2rem 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 .5rem 1rem #000;
    color: #fff;
}

.container .music-container{
    display: flex;
    align-items: center;
    flex-flow: column;
}

.container .music-container .box{
    height: 16rem;
    width: 80%;
    display: flex;
    align-items: center;
    background: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem #000;
    overflow: hidden;
    margin: 2rem;
}

.container .music-container .box .image{
    height: 100%;
    width: 25%;
}

.container .music-container .box .image  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container .music-container .box .music{
    width: 75%;
}

.container .music-container .box .music audio{
    width: 100%;
    outline: none;
}

.container .music-container .box .music audio::-webkit-media-control-eclosure{
    background: none;
}

@media(max-width:600px){

    .container .music-container .box{
        height: 27rem;
        width: 90%;
        flex-flow: column;
    }

    .container .music-container .box .image{
        height: 80%;
        width: 100%;
    }

    .container .music-container .box .music{
        height: 20%;
        width: 100%;
    }
}



.form {
    
    width: 500px;
    
    background-color: #eeeeee;
    
     padding: 30px;
    
    display: grid;
    
    gap: 20px;
    
    padding-bottom: 30px;
    
     }
    
     input {
    
    width: 100%;
    
    padding: 10px;
    
    }
    
    .otpverify {
    
     width: 100%;
    
    display: flex;
    
     gap: 20px;
    
     }
    
    .btn {
    
    padding: 10px;
    
     background-color: #82eec1;
    
    outline: none; 
    
    border: none;
    
    cursor: pointer;
    
    border-radius: 5px;
    
    width: 150px;
    
    }